{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <div class="row p-md-4">
      <div class="col-3">

      </div>
      <div class="col-md-8 col-sm-auto col-md-auto col-xl-5 bg-warning border border-primary rounded p-4">
          <form class="form-group" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="m-2 btn btn-primary">send reset mail</button>
          </form>
          {% for message in messages %}
            {{ message }}
          {%endfor %}
      </div>
  </div>
</body>
</html>
